

input {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #700c0c;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
h1{
  color: rgb(86, 86, 248);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

hr{
  color: rgb(29, 29, 211);

}
